body {
  background-image: url("../images/universum.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

h1,
h2,
h3 {
  font-weight: bold;
  color: #fff;
}
h1 {
  font-size: 24px;
  font-family: "Amatic SC", cursive;
  margin-bottom: 0px;
}

h2,
h3 {
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: lighter;
  font-size: 17px;
}

h3 {
  margin-top: -10px;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 17px;
  line-height: 19px;
  color: #fff;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: lighter;
}

img {
  position: relative;

  width: 64px;
  height: 64px;
  right: -120px;
}
.clearfix {
  margin-left: -72px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weahter-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 5px;
}

.weather-temperature strong {
  color: #fff;
  font-size: 64px;
  line-height: 1;
  font-weight: bold;
  font-family: "Open Sans Condensed", sans-serif;
}

.weather-temperature .units {
  position: relative;
  font-size: 16px;
  color: #fff;
  top: -34px;
}
